@using DotNetCoreLocalization.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<HomeController> HtmlLocalizer

@{
    ViewData["Title"] = @ViewData["Title"];
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Localizer["telerik"]</h1>
    <p>@HtmlLocalizer["LearnMore"].</p>
    <br />
</div>
